.container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.product-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.choice-container{
    background: rgb(226, 195, 139);
    border-radius: 10px;
    margin-top: 10px;
}
.content{    
    position: sticky;
    top: 0;
    right: 0;
    padding: 0 10px;
}

.chli{
    text-align: center;
}

.cho-btn{
    padding: 10px 15px;
    border: 0;
    border-radius: 5px;
    margin: 0 5px;
    transition: .4s ease-in-out;
    position: relative;
    top: 50px;
}
.cho-btn:hover{
    background: rgb(111, 0, 255);
    color: white;
}

/* media query */

@media screen and (max-width: 550px){
    .container{
        grid-template-columns: 3fr 2fr;
    }
    .product-container{
        grid-template-columns: 1fr;
    }    
}

@media screen and (min-width:550px) {
    .chli{
        color: white;
    }    
    .product-container{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (min-width: 1062px) {
    .product-container{
        grid-template-columns: repeat(3, 1fr);
    }
}